<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field class="input1">
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="Email"
        #emailInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>
    <!-- <br /> -->
    <mat-form-field class="input1">
      <input
        type="password"
        name="password"
        ngModel
        matInput
        placeholder="password"
        #passwordInput="ngModel"
        required
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password.</mat-error
      >
      <!-- <hr /> -->
    </mat-form-field>
    <button mat-raised-button type="submit">Signup</button>
  </form>
</mat-card>
